BOT_TOKEN=8831210926:AAHioi7f3h9Br1JtA50pdxlm35r_SfyW1sg
ADMIN_IDS=2017236812,7145919720

ADMIN_CHANNEL_ID=-1004326210717
PAYMENTS_CHANNEL_ID=-1004371674808
PAYMENTS_CHANNEL_LINK=https://t.me/crocodilepayment

TGRASS_CODE=your_tgrass_code
BOTOHUB_KEY=your_botohub_key
PIARFLOW_KEY=your_piarflow_key
